---
import { getCollection } from 'astro:content';

import BaseLayout from '../../layouts/BaseLayout.astro';

import ContactCTA from '../../components/ContactCTA.astro';
import PortfolioPreview from '../../components/PortfolioPreview.astro';
import Hero from '../../components/Hero.astro';
import Grid from '../../components/Grid.astro';
import ListWords from "../../components/ListWords"
---

<BaseLayout
	title="Judge the words"
	description="For existing submissions, judge which ones you think are human or AI generated."
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="Judge the words"
				tagline="For existing submissions, judge which ones you think are human or AI generated"
				align="start"
			/>
			<ListWords client:load />
		</main>
	</div>
</BaseLayout>
