---
import { getCollection } from 'astro:content';

import BaseLayout from '../../layouts/BaseLayout.astro';

import ContactCTA from '../../components/ContactCTA.astro';
import PortfolioPreview from '../../components/PortfolioPreview.astro';
import Hero from '../../components/Hero.astro';
import Grid from '../../components/Grid.astro';
import SubmitWord from "../../components/SubmitWord"
---

<BaseLayout
	title="Submit a word"
	description="Submit a word to be judged in the Mcd79 Minimal Turing Experiment"
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="Submit a word"
				tagline="To make this experiment work, we need your help. Submit a word below to be judged both by other humans and AI."
				align="start"
			/>
			<SubmitWord client:load />
		</main>
	</div>
</BaseLayout>
